{% load static %}


<div class="card mb-4">
    <div class="card-body text-center shadow">
        {% if tradeur.avatar %}
            <img class="rounded-circle mb-3 mt-4" id="img_avatar" src="{{ tradeur.avatar.url }}" width="160" height="160" alt="avatar">
        {% else %}
            <img class="rounded-circle mb-3 mt-4" id="img_avatar" src="{% static 'img/avatars/avatar6.png' %}" width="160" height="160" alt="avatar">
        {% endif %}
        <div class="mb-3">
            <button id="btn_avatar" class="btn btn-primary btn-sm" type="button">Changer Photo</button>
        </div>
    </div>
</div>
