{% extends 'investisseur/espace/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Espace Investisseur{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/investisseur/espace/investissements/liste.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">

            {% for investissement in investissements %}
                <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">
                    <div class="card border-0">
                        <div class="row justify-content-center">
                            <h3 class="mb-4">Investissement No {{ investissement.rang }}</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 border-line pb-3">
                                <div class="d-flex justify-content-around  mb-5">
                                    <p class="display-4 degree investissement_money">{{ investissement.montant }}</p>
                                    <label class="text-sm togo_currency">Fcfa</label>
                                    <i class="fa fa-2x fa-arrow-right"></i>
                                    <p class="display-4 degree investissement_money text-success">{{ investissement.retour_sur_investissement }}</p>
                                    <label class="text-sm togo_currency">Fcfa</label>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p title="durée de l'investissement">
                                        <i class="fas fa-calendar-check fa-lg text-info pr-2"></i>{{ investissement.duree }} mois
                                    </p>
                                    <p title="type de payement">
                                        <img src="{% static 'img/icons8_tag_window_40px.png' %}" width="35" height="35">
                                        {% if investissement.type == "M" %}
                                            Mensuel
                                        {% elif investissement.type == "B" %}
                                            Bloqué
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="progress mt-5">
                                    <div class="progress-bar"
                                         style="width: {{ investissement.pourcentage }}%;">
                                        {{ investissement.pourcentage }}%
                                    </div>
                                </div>
                                <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
                                    <li class="">{{ investissement.date_decompte }}</li>
                                    <li class="">{{ investissement.date_fin }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-5 text-sm-center justify-content-center pb-4">
                                <small class="lead">Les payements</small>

                                {% for payement in investissement.payements.all %}
                                    <div class="d-flex justify-content-between">
                                        <p>
                                            <img width="30"
                                                 height="30"
                                                 src="{% static payement.formed_img_name %}">
                                        </p>

                                        {% if payement.pourcentage == 0 %}

                                            <div class="progress progress-sm w-75 mt-3"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="en attente...">
                                                <div class="progress-bar" style="  width: {{ payement.pourcentage }}%;"></div>
                                            </div>

                                        {% else %}

                                            <div class="progress progress-sm w-75 mt-3"
                                                 data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="{{ payement.pourcentage }}%">
                                                <div class="progress-bar bg-success" style="  width: {{ payement.pourcentage }}%;"></div>
                                            </div>

                                        {% endif %}


                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'js/investisseur/espace/investissements/liste.js' %}" type="application/javascript"></script>
{% endblock %}
