{% extends 'investisseur/espace/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Espace Investisseur{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/investisseur/espace/investissements/liste.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="encours" class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Mes Investissements en cours</h6>
            </div>
            <div class="card-body">

                {% for investissement in encours %}

                    <h4 class="small font-weight-bold">
                        <span>Investissment du {{ investissement.date_decompte }}</span><br><br>
                        <div class="d-flex justify-content-between ">
                            <div>Du {{ investissement|debut_payement }}</div>
                            <div>Payement No {{ investissement|payement_number }}</div>
                            <div>Au {{ investissement|payement_date }}</div>
                        </div>
{#                        <span class="float-right">20%</span>#}
                    </h4>
                    <div class="progress mb-4"  data-toggle="tooltip" data-placement="top" title="{{ investissement|percentage }}%">
                        <div class="progress-bar
                                    {% if investissement|percentage < 50 %}
                                        bg-danger
                                    {% elif investissement|percentage == 50 %}
                                        bg-gradient-primary
                                    {% elif investissement|percentage > 50 and investissement|percentage < 80 %}
                                        bg-gradient-info
                                    {% elif investissement|percentage > 80 %}
                                        bg-success
                                    {% endif %}" aria-valuenow="{{ investissement|percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ investissement|percentage }}%;">
                            <span class="sr-only">{{ investissement|percentage }}</span>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div id="termines" class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Mes Investissements terminés</h6>
            </div>
            <div class="card-body">

                {% for investissement in encours %}

                    <h4 class="small font-weight-bold">
                        <span>Investissment du {{ investissement.date_decompte }}</span><br><br>
                        <div class="d-flex justify-content-between ">
                            <div>Du {{ investissement|debut_payement }}</div>
                            <div>Payement No {{ investissement|payement_number }}</div>
                            <div>Au {{ investissement|payement_date }}</div>
                        </div>
{#                        <span class="float-right">20%</span>#}
                    </h4>
                    <div class="progress mb-4"  data-toggle="tooltip" data-placement="top" title="{{ investissement|percentage }}%">
                        <div class="progress-bar
                                    {% if investissement|percentage < 50 %}
                                        bg-danger
                                    {% elif investissement|percentage == 50 %}
                                        bg-gradient-primary
                                    {% elif investissement|percentage > 50 and investissement|percentage < 80 %}
                                        bg-gradient-info
                                    {% elif investissement|percentage > 80 %}
                                        bg-success
                                    {% endif %}" aria-valuenow="{{ investissement|percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ investissement|percentage }}%;">
                            <span class="sr-only">{{ investissement|percentage }}</span>
                        </div>
                    </div>

                {% endfor %}

                <h4 class="small font-weight-bold">Sales tracking<span class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database<span class="float-right">60%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details<span class="float-right">80%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                </div>
                <h4 class="small font-weight-bold">Account setup<span class="float-right">Complete!</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'js/investisseur/espace/investissements/liste.js' %}" type="application/javascript"></script>
{% endblock %}