{% extends 'investisseur/espace/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Espace Investisseur{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/investisseur/espace/investissements/liste.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'js/investisseur/espace/investissements/liste.js' %}" type="application/javascript"></script>
{% endblock %}