{% extends 'investisseur/espace/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Espace Investisseur{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/investisseur/espace/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
{#        <div class="d-sm-flex justify-content-between align-items-center mb-4">#}
{#            <h3 class="text-dark mb-0">Dashboard</h3>#}
{#            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">#}
{#                <i class="fas fa-plus-circle fa-sm text-white-50"></i> Faire un investissement#}
{#            </a>#}
{#        </div>#}
        <div class="row">
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-primary py-2"
                     onclick="window.location = '{% url "investissements_investisseur" %}';"
                     title="somme totale des investissements"
                     style="cursor: pointer">

                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                    <span>Total Investissements ({{ investissements|length }})</span>
                                </div>
                                <div class="text-dark font-weight-bold h5 mb-0">
                                    <span>{{ somme_investissements }} Fcfa </span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300" style="color: #f6c23e!important;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-primary py-2"
                     title="investissements + retours sur investissement"
                     style="">

                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                    <span>Gains GenérerS</span>
                                </div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>{{ gains }} Fcfa</span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-coins fa-2x text-gray-300" style="color: #f6c23e!important;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-success py-2"
                     onclick="window.location = '{% url "investissements_investisseur" %}';"
                     title="Mes Investissements en cours"
                     style="cursor: pointer">

                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                    <span>Mes Investissements en cours</span>
                                </div>
                                <div class="text-dark font-weight-bold h5 mb-0">
                                    <span>{{ investissements_en_cours|length }}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-redo-alt fa-2x text-success"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-info py-2"
                     onclick="window.location = '{% url "investissements_investisseur" %}';"
                     title="Mes Investissements terminés"
                     style="cursor: pointer">

                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-info font-weight-bold text-xs mb-1">
                                    <span>Mes Investissements terminés</span></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>{{ investissements_termine|length }}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar-times fa-2x text-gray-300" style="color: #f61316!important;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-success py-2"
                     title="Virements effectués"
                     style="">

                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                    <span>Virements effectués</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>{{ nb_virements }}</span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check-square fa-2x text-gray-300" style="color: #1cc88a!important;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-success py-2"
                     onclick="window.location = '{% url "filleuls" %}';"
                     title="Mes filleuls"
                     style="border-left:.25rem solid #1cb6c8!important;cursor: pointer">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1" style="color: #1cb6c8!important;">
                                    <span>Mes Filleuls</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>{{ investisseur.fieuls.all|length }}</span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300" style="color: #1cb6c8!important;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Earnings Overview</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div role="menu" class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a role="presentation" class="dropdown-item" href="#"> Action</a><a role="presentation" class="dropdown-item" href="#"> Another action</a>
                                <div class="dropdown-divider"></div><a role="presentation" class="dropdown-item" href="#"> Something else here</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area"><canvas height="320" style="display: block; width: 563px; height: 320px;" width="563"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Revenue Sources</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div role="menu" class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a role="presentation" class="dropdown-item" href="#"> Action</a><a role="presentation" class="dropdown-item" href="#"> Another action</a>
                                <div class="dropdown-divider"></div><a role="presentation" class="dropdown-item" href="#"> Something else here</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area"><canvas height="320" style="display: block; width: 248px; height: 320px;" width="248"></canvas></div>
                        <div class="text-center small mt-4"><span class="mr-2"><i class="fas fa-circle text-primary"></i> Direct</span><span class="mr-2"><i class="fas fa-circle text-success"></i> Social</span><span class="mr-2"><i class="fas fa-circle text-info"></i> Refferal</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'js/investisseur/espace/index.js' %}" type="application/javascript"></script>
{% endblock %}
