{% load static %}


<form id="modifier_form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="id_nom">
                    <strong>Nom</strong>
                </label>
                {{ form.first_name }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="id_prenom">
                    <strong>Prénom</strong>
                </label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="col d-none">
            <div class="form-group">
                <label for="id_avatar">
                    <strong>Avatar</strong>
                </label>
{#                {{ form.avatar }}#}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="id_telephone">
                    <strong>Téléphone</strong>
                </label>
                {{ form.telephone }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="id_email">
                    <strong>Adresse Email</strong>
                </label>
                {{ form.email }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="id_sexe">
                    <strong>Sexe</strong>
                </label>
                {{ form.sexe }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save"></i>&nbsp;Save</button>
        <button class="btn btn-danger btn-sm" type="button"
                value="{% url 'supprimer_investisseur' pk=investisseur.id %}"
                onclick="supprimerInvestisseur(this.value);">

            <i class="fas fa-trash" ></i>&nbsp;Delete

        </button>
    </div>
</form>